div#users {
  float: left;
  width: 100%; }

div#jobs {
  float: left;
  width: 100%; }

#profiler {
  float: left;
  width: 100%;
  margin-top: 60px; }

#wrapper {
  float: left;
  width: 100%;
  padding: 30px 0 100px; }
  #wrapper div#header {
    width: 60%;
    margin: 0 auto; }
    #wrapper div#header h1 {
      text-align: center; }
    #wrapper div#header ul {
      display: inline-block;
      list-style: none; }
      #wrapper div#header ul li {
        float: left;
        width: 100px;
        height: 20px;
        margin-right: 10px;
        border: 5px ridge black; }
        #wrapper div#header ul li a {
          float: left;
          width: 100%;
          line-height: 20px;
          text-align: center;
          color: #000000; }
          #wrapper div#header ul li a:hover {
            background-color: #48c6ec;
            color: #ffffff;
            font-weight: bold; }
  #wrapper div#content {
    width: 60%;
    margin: 0 auto; }
    #wrapper div#content a {
      font-weight: bold;
      color: #0000DA; }
    #wrapper div#content h2 {
      text-align: center;
      color: #000000; }
    #wrapper div#content .line {
      float: left;
      padding: 5px 5px 5px 0; }
