<h2>{{username}}'s job form</h2>
{{>notices}}
<a href="{{routes.user_job}}/{{user_id}}?username={{username}}"><< Back</a> |
<form id="jobs-form" action="{{base_url}}jobs/form/{{job.id}}?user_id={{user_id}}&username={{username}}" method="POST">
    <fieldset>
		<div class="line">
			Title:<br />
			<input type="text" name="title" value="{{job.title}}" /><br/>
		</div>
		<div class="line">
			Money per hour:<br>
			<input type="text" name="money_per_hour" value="{{job.money_per_hour}}" /><br />
		</div>
		<div class="controls">
			<button type="submit" name="sub" >Submit</button>
		</div>
    </fieldset>
</form>