[submodule "system"]
	path = system
	url = git@github.com:kohana/core.git
[submodule "modules/orm"]
	path = modules/orm
	url = git@github.com:kohana/orm.git
[submodule "modules/database"]
	path = modules/database
	url = git@github.com:kohana/database.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = git@github.com:zombor/KOstache.git

[submodule "modules/notices"]
	path = modules/notices
	url = git@github.com:sortex/kohana-notices.git
[submodule "modules/assets"]
	path = modules/assets
	url = git://github.com/Zeelot/kohana-assets.git
