<div id="users">
	<h2>Users</h2>
	{{>notices}}
	<form id="users-filter" action="" class="" method="GET">
		<fieldset>
			<div class="line">
				<label for="users-filter-name">Name</label>
				<input id="users-filter-name" type="text" name="name" class="text" placeholder="Contains" />
			</div>
			<div class="line">
				<label for="users-filter-age">Age</label>
				<input id="users-filter-age" type="text" name="age" class="text" placeholder="Contains" />
			</div>
			<div class="controls">
				<button type="submit">Search</button>
				<button type="reset">Reset</button>
			</div>
		</fieldset>
	</form>
	<a href="{{routes.user_form}}">Add user</a> |
	<div id="grid_users"></div>
</div>
