<div>
	<h1>This is campaign/index</h1>
	{{#condition}}
		{{condition_true}}
	{{/condition}}
	{{^condition}}
		{{condition_false}}
	{{/condition}}

	<ul>
		{{#arr}}
			{{#grade}}
				<li>
					<h2>Student: {{name}}</h2>
					<h6>Grade: {{grade}}</h6>
				</li>
			{{/grade}}
		{{/arr}}
	</ul>

	{{{p}}}
</div>