<h2>Students form</h2>
{{>notices}}
<form id="students-form" action="form" method="POST">
    <fieldset>
		<div class="line">
			First name:<br />
			<input type="text" name="first_name" value="{{student.first_name}}" /><br/>
		</div>
		<div class="line">
			Last name:<br>
			<input type="text" name="last_name" value="{{student.last_name}}" /><br />
		</div>
		<div class="line">
			Course:<br>
			<input type="text" name="course" value="{{student.course}}" /><br />
		</div>
		<div class="line">
			Grade:<br>
			<input type="text" name="grade" value="{{student.grade}}" /><br />
		</div>
		<div class="controls">
			<button type="submit" name="sub" >Submit</button>
		</div>
    </fieldset>
</form>