<style>
	#students table td, #students table th { border: 1px solid #000000 }
</style>
<div id="students">
	<h2>Students</h2>
	<table>
		<colgroup>
			<col width="4%" />
			<col />
			<col width="15%" />
			<col width="15%" />
			<col width="15%" />
		</colgroup>
		<thead>
		<tr>
			<th>ID</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Course</th>
			<th>Grade</th>
		</tr>
		</thead>
		<tbody>
		{{#students}}
			<tr>
				<td>{{id}}</td>
				<td>{{first_name}}</td>
				<td>{{last_name}}</td>
				<td>{{course}}</td>
				<td>{{grade}}</td>
				<td><a href="{{routes.student_form}}/{{id}}">Edit</a></td>
			</tr>
		{{/students}}
		</tbody>
	</table>
</div>
